body {
  margin: 0;
  padding: 0;
  color: #FFF;
  background-color:#be50f5;
  font-family: monospace;
}
.textonavbar{
font-family: 'SourceSansPro-Light';
}


header {
  padding: 20px 50px;
  margin-bottom: 20px;
  color: #FFF;
}

.divimg{
  width: 50vw;
  height: 50vh;
}

.imgheader{
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

header input {
  border: none;
  font-size: 17px;
  text-align: center;
  border-radius: 10px;

}

header .logo {
  margin-top: 30px;
}

h1 {
  /* color: #fff; */
  color: aqua;
  letter-spacing: -1px;
}

section {
  padding: 0 20px;
}

button {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  background-color: rgb(192, 10, 216);
  padding: 10px 22px;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;  
  align-self: center;
}

header button {
  font-size: 16px;
}

.hidden {
  display: none;
}

.group {
  border-radius: 2px;
  background-color: #fff;
  padding: 15px;
  color: #333;
  box-shadow: 3px 4px 10px #000;
}

.group strong {
  font-size: 20px;
}

.group ul {
  font-size: 18px;
}

#sortOneView {
  text-align: center;
}

#addStudentsView input {
  width: 100%;
  max-height: 50px;
  padding: 20px 10px;
  font-size: 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  border: none;
  border-radius: 4px;
  outline: none;
  box-shadow: 3px 4px 10px #000;
}

#addStudentsView ul {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  text-align: center;
}

#addStudentsView li {
  font-size: 20px;
  color: #FFF;
}

#studentsList button {
  padding: 0px 8px;
  font-size: 14px;
  margin-left: 10px;
}

.footer{
  background-color: rgb(222, 158, 243);
}

.footerdois{
  margin-top: 95px;
  position: fixed;
}

.github{
  color:white;
}

.navbarmenu{
  background-color:#be50f5;
  font-family: monospace;
  color:white;
  
}


.imgnav{
  margin: 60px;
}